<app-navbar></app-navbar>

<app-hero></app-hero>

<section class="about-section" id="about">
  <div class="ambient-glow"></div>

  <div class="about-container">
    
    <div class="about-header reveal-on-scroll">
      <span class="overline">ACERCA DE MÍ</span>
      <h2 class="name-title">Fernando <span class="highlight">Arzate</span></h2>
      <h3 class="role-title">Creative Frontend Developer</h3>
    </div>

    <div class="about-content reveal-on-scroll delay-200">
      <p class="bio-text">
        Constantemente exploro la intersección entre el <strong>arte</strong> y la <strong>tecnología</strong>.
      </p>
      <p class="bio-text">
        Mi enfoque no es solo hacer que las cosas funcionen, sino que se sientan bien al usarlas. Fusiono el diseño gráfico con la lógica del desarrollo.
      </p>

      


      <div class="skills-marquee-container">
        <div class="fade-overlay left"></div>
        <div class="marquee-track">
          <span class="skill-item">Angular</span>
          <span class="skill-item">TypeScript</span>
          <span class="skill-item">CSS</span>
          <span class="skill-item">UI/UX</span>
          <span class="skill-item">Illustrator</span>
          <span class="skill-item">VS Ccode</span>
          <span class="skill-item">Photoshop</span>
          <span class="skill-item">TypeScript</span>
          <span class="skill-item">SCSS</span>
          <span class="skill-item">UI/UX</span>
          <span class="skill-item">Figma</span>
          <span class="skill-item">RxJS</span>
        </div>
        <div class="fade-overlay right"></div>
      </div>

      <div class="buttons-wrapper">
        <button class="btn-contact" (click)="scrollToContact()">
            Trabajemos Juntos <span class="arrow">→</span>
        </button>
         <a href="cv-fernando.pdf" download="CV_Fernando_Arzate.pdf" class="btn-cv">
  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" style="margin-right: 8px;">
    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
    <polyline points="7 10 12 15 17 10"></polyline>
    <line x1="12" y1="15" x2="12" y2="3"></line>
  </svg>
  Descargar CV
</a>
      </div>
    </div>
  </div>
</section>

<app-experience></app-experience>

<app-proyectos></app-proyectos>


<app-contact></app-contact> 

<router-outlet></router-outlet>
<app-footer></app-footer>
<app-cursor></app-cursor>

