<app-navbar></app-navbar>
<br>

<app-hero></app-hero>
<br>
<h2>Bienvenido a mi portafolio</h2>


<p class="parrafo-bienvenida">¡Hola! Soy Fernando Arzate, y constantemente exploro la intersección entre el arte y la tecnología.
    <br>
    <br>
    <br> Mi pasión reside en el diseño gráfico y el desarrollo frontend, donde encuentro la alegría de construir soluciones digitales que no solo se ven increíbles, sino que también funcionan a la perfección.</p>
<p class="parrafo-bienvenida">Si deseas ponerte en contacto conmigo, no dudes en visitar la sección de contacto.</p>
<app-proyectos></app-proyectos>
<br>

<router-outlet></router-outlet>


